@use "../global/" as *;

.dl-service{
    background: url(../images/dl-service.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 2.5rem 2.75rem;
}
.dl-service--title{
    font-size: 1.5rem;
    color: $white;
    line-height: 1.79166666;
    letter-spacing: 0.04em;
    text-align: center;
    font-weight: $bold;
}