@use "../global/" as *;
.inquiry-form {
    background-color: $white;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    @include mq("md"){
        width: 25rem;
    }
}
.inquiry-form__baloon {
    position: relative;
    background-color: $main; /* 吹き出しの背景色 */
    color: $white; /* テキストの色 */
    padding: 1.125rem 1.25rem;
    margin: 1.5em 0;
    max-width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3125rem;
    text-align: center;
    @include mq("md"){
        font-size: 1.25rem;
        padding: 0.75rem 0 0.75rem;
        margin: 0;
    }
  }
  
  .inquiry-form__baloon::before,
  .inquiry-form__baloon::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
  }
  
.inquiry-form__baloon::before {
  top: 100%;
  border-width: 8px 14px 0 14px; // 上8px, 左右14px → 鋭角な逆三角形
  border-color: $black transparent transparent transparent;
  @include mq("md") {
    border-width: 12px 9px 11px 9px;
  }
}
  .inquiry-form__baloon::after {
    top: calc(100% - 1px); /* 外側の三角形の内側に配置 */
    border-width: 14px;
    border-top-color: $main; /* 吹き出しの背景色と同じ */
    @include mq("md"){
        border-width: 12px 8px 8px 8px;
        border-color: $main transparent transparent transparent;

    }
  }
  

.inquiry-form__baloon-try {
    color: $white;
}

.inquiry__form-item {
    display: block;
    margin-top: 0.9375rem;
    @include mq("md"){
        margin-top: 0;
        padding: 0.5em 0.25em 0.5em;
    }
}
.inquiry__form-item.inquiry__mail--item{
    @include mq("md"){
        padding: 0.5em 0.25em 0;
    }
}
.inquiry__form-item.inquiry__tellphone{
    @include mq("md"){
        padding: 0.5em 0.25em 0;
    }
}
.inquiry__form-item2 {
    display: block;
    margin-top: 0.9375rem;
    @include mq("md"){
        margin-top: 0;
        padding: 0 0.5em 0.5em 0.5em;
    }
}
.inquiry__form-names {
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: center;
    @include mq("md"){
        padding: 1.25rem 0.5rem 0;
    }
}
.inquiry__form-names2 {
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: center;
    @include mq("md"){
        padding: 0.65rem 0 0 0;
    }
}
.inquiry__form-names3 {
    display: flex;
    width: 100%;
    align-items: center;
    // justify-content: center;
    @include mq("md"){
        padding: 0.25rem 0 0 0;
    }
}
.inquiry__form{
    display: flex;
    width: 100%;
    align-items: center;
    @include mq("md"){
        padding: 0.5rem 0.5em 0 0.5em;
    }
}
.inquiry-form-name {
    display: flex;
    width: 100%;
    align-items: center;
}
.name__space{
    width: 48%;
}
.name__space:not(:first-child){
    @include mq("md"){
        margin-left: 1em;
    }
}

.names__label{
    display: inline-block;
    font-size: 0.875rem;
    color: $bg-black;
}
.inquiry_need {
    font-size: 0.625rem;
    color: $red;
    transform: scale(0.9);
}

.inquiry__input {
    background-color: $input;
    border-radius: 0.3125rem;
    border: solid 1px $form;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    @include mq("md"){
        padding: 0.65em 0.5em 0.75em;
    }
}

.labelmy__input.labelmy__input{
    width: 50%;
    @include mq("md"){
        margin-top: 0.45em;
    }
}
.labelmy__input.labelmy__input2{
    margin-left: 0.5625rem;
    @include mq("md"){
        margin-top: 0.45em;
        margin-right: 0.5em;
    }
}

.inquiry__input.inquiry-input{
    width: 100%;
    @include mq("md"){
        margin-top: 0.25rem;
        padding: 0.65em 0.875em 0.75em 0.5em;
    }
}
.inquiry__input.labelmy__input3{
    @include mq("md"){
        margin-top: 0.35em;
    }
}

.inquiry__form-policy{
    color: $bg-black;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: $regular;
    margin-top: 1.5rem;
    @include mq("md"){
        font-size: 0.875rem;
        margin-top: 1.45rem;
        padding: 0 1.35em 0 0.75em;
    }
}
.inquiry__submit-button{
    display: block;
    width: 15.375rem;
    background-color: $main;
    border-radius: 1.5625em;
    padding: 0.8125rem 1.6875rem;
    margin: 2.5rem auto 1.1875rem;
    @include mq("md"){
        width: 20rem;
        max-width: 100%;
        border-radius: 1.5em;
        padding: 0.75em 0 0.65em;
    }
    @include mq("lg"){
        margin: 1.875rem auto 1.5rem;
        width: 83.5%;
    }
}
.inquiry__button{
    display: inline-block;
    width: 100%;
    color: $white;
    font-size: 1rem;
    font-weight: $bold;
    letter-spacing: 0.01em;
    @include mq("md"){
        font-size: 1rem;
    }
    @include mq("lg"){
        letter-spacing: 0.04em;
        font-size: 1.25rem;
    }
}