@use "../global/" as *;

.main__catch {
    padding: 5.5rem 0 0 0;
    @include mq("md"){
        padding: 0 0;
    }
}
.main.main__catch {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200%;
    background-image: linear-gradient(135deg,$main, $sub);
    @include mq("sp"){
        height: 170%;
    }
    @include mq("md"){
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        top: 4rem;
        padding-bottom: 3.5rem;
    }
    @include mq("lg"){
        justify-content: center;
    }
}
.main__container{
    @include mq("sp"){
        width: 100%;
        padding-left: 5%;
        padding-right: 1%;
    }
    @include mq("md"){
        margin-top: 3rem;
        width: 63.02%;
        padding-left: 2%;
        padding-top: 4.25rem;
    }
    @include mq("lg"){
        width: 47.25rem;
        padding-left: 5%;
    }
}
.main__form {
    padding: 0.5rem;
    @include mq("md"){
        padding: 4rem 0.5rem 0.5rem;
        width: max(34.4%);
    }
    @include mq("lg"){
        position: relative;
        top: 0;
        right: 0;
        padding: 5rem 1em 1em 0;
        max-width: 38.54%;
        margin-left: 4%;
    }
}
.main__headcopy {
    display: block;
    width: 100%;
    color: $white;
    font-weight: $normal;
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 0.875rem;
    position: relative;  // 念の為
    @include mq("md"){
        font-size: 1.25rem;
        display: inline-block;
        text-align: left;
    }
    @include mq("lg"){
        width: 100%;
        padding-left: 5%;
    }
}
.main__catch-text {
    display: inline-block;
    margin-top: 1.125rem;
    color: $white;
    font-size: 1.5rem;
    line-height: 1.8695;
    letter-spacing: 0.04em;
    font-weight: $bold;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    @include mq("md"){
        font-size: 2.75em;
        margin-top: 0.45rem;
        letter-spacing: 0.01em;
        line-height: 1.75;
        padding: 0 0.5rem 0 0;
        text-align: left;
    }
    @include mq("lg"){
        width: fit-content;
        font-size: 3.25rem;
        padding: 0 2.5rem 0 5%;
    }
}

.main__catch-text--soon {
    display: inline-block;
    width: 100%;
    margin-top: 1.125rem;
    color: $white;
    font-size: 1.5rem;
    line-height: 1.8695;
    letter-spacing: 0.04em;
    font-weight: $bold;
    text-align: center;
    white-space: nowrap;
    @include mq("md"){
        font-size: 2.75em;
        margin-top: 0;
        letter-spacing: 0.01em;
        padding: 0 0.125rem 0 0;
        line-height: 1.675;
        text-align: left;
    }
    @include mq("lg"){
        width: fit-content;
        font-size: 3.25rem;
        padding: 0 0.125rem 0 5%;
        line-height: 1.5;
    }
}
.main__catch--intoroduction {
    display: inline-block;
    width: 100%;
    margin-top: 1.5rem;
    color: $white;
    font-size: 0.875rem;
    font-weight: $regular;
    line-height: 1.7857142;
    text-align: center;
    @include mq("md"){
        margin-top: 1rem;
        font-size: 1.25rem;
        text-align: left;
        line-height: 1.5;
        text-indent: 0;         /* インデントが勝手に入っていればリセット */
    }
    @include mq("lg"){
        padding-left: 5%;
        width: fit-content;
    }
}
.main__feature {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0 1rem;
    @include mq("md"){
        padding: 0;
        justify-content: flex-start;
    }
    @include mq("lg"){
        padding: 0 0 0 5%;
    }
}

.main__features {
    position: relative;
    display: block;
    background-color: $white;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    // テキストスタイル
    font-weight: $bold;
    color: $main;
    border: solid $main 1px;
    letter-spacing: 0.03em;
    text-align: center;
    //  内側のテキストの位置
    padding: 1.5em 0 0.5em;
    
    @include mq("md"){
        width: 9.5rem;
        height: 9.5rem;
        padding: 2em 0.125em 0;
    }
    @include mq("lg"){
        width: 10.25em;
        height: 10.25em;
        padding: 2em 0.5em 0;
    }
}
.main__features.main__features2 {
    margin-left: 0.25rem;
    padding: 1.5em 0 0.5em;
    @include mq("md"){
        padding: 2em 0.1em 0;
        margin-left: 0.5rem;
    }
    @include mq("lg"){
        padding: 2em 0.5em 0;
        margin-left: 1.375rem;
    }
}

.feature-head {
    font-size: 1rem;
    display: inline-block;
    @include mq("md"){
        font-size: 1.5rem;
    }
}
.feature-appear {
    font-size: 1.125rem;
    display: inline-block;
    letter-spacing: 0.02em;
    @include mq("md"){
        margin-top: 0.875rem;
    }
    @include mq("lg"){
        letter-spacing: 0.01em;
        padding: 0 0.1em 0 0.01em;
    }
}
.feature-appear__int{
    @include mq("md"){
        font-size: 1.1rem;
        font-weight: $bold;
        letter-spacing: 0.04em;
        margin-left: 0.1em;
    }
}
.feature__number {
    color: $bg-black;
    font-size: 0.625rem;
}
.feature__star{
    color: $bg-black;
    font-size: 0.55rem;
    transform: scale(0.9);
}
.main__catch-description {
    display: block;
    width: 100%;
    color: $white;
    font-size: 0.6875rem;
    padding-left: 0;    
    margin-top: 1.5rem;
    letter-spacing: 0.04em;
    text-align: center;
    @include mq("md"){
        width: fit-content;
        padding-left: 5%;
        margin-top: 1.75rem;
        line-height: 1;
        text-align: left;
    }
}
.main__catch-description.main__catch-description2{
    margin-bottom: rem(7);
    @include mq("md"){
    display: -block;
    position: relative;
    top: -0.35rem;
    margin-top: 0.5rem;
    }
}
.main__hero--img {
    padding: 0 0.5rem;
    @include mq("md"){
        width: 100%;
        position: relative;
        margin-top: 4rem;
    }
    @include mq("lg"){
        margin-top: 0;
    }
}
.main__hero-image {
    display: block;
    @include mq("md"){
        position: absolute;
        width: 360px;  
        top: -5.5rem;
        right: -0.75rem; 
        bottom: 0;
        max-width: 100%;
    }
    @include mq("lg"){
        top: -4rem;
    }
}


.end-message {
    display: none;
  }
  
  .false-message {
    display: none;
}

.mfeature {
    margin-top: 1rem;
    width: 100%;
    @include mq("md"){
        margin-top: 1.875rem;
        width: fit-content;
    }
    @include mq("lg"){
        margin-top: 2.5rem;
    }
}
.mfeature__station {
    @include mq("md"){
        display: block;
        position: absolute;
        top: 35.4%;
        right: rem(10);
        z-index: 222;
    }
}
.feature-appear {
    @include mq("md"){
        font-size: 1.5rem;
        padding: 0 0.25em;
    }
    @include mq("lg"){
        font-size: 2rem;
    }
}
.feature-appear.feature-appear--ji{
    @include mq("md"){
        padding: 0;
    }
}