@use "../global/" as *;

.section-title {
    font-size: 1.5rem;
    color: $bg-black;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    @include mq("md"){
        font-size: 2rem;
        letter-spacing: 0.01em;
    }
}
.section__submit {
    display: block;
    margin: 2.4375rem auto 0;
    background-color: $white;
    border-radius: 1.825rem;
    padding: 1rem 0.5rem;
    @include mq("md"){
        padding: 1rem 3.125rem;
    }
}
.section__submit.submit{
    @include mq("md"){
        margin: 1.5rem auto 0;
    }
}
.submit__button {
    color: $main;
    font-size: 1.25rem;
    font-weight: $bold;
    display: inline-block;
    text-align: center;
}