@use "../global/" as *;

.trust {
    background-color: $white;
    padding: 2.5rem 0 0 0;
    @include mq("md"){
        position: relative;
        top: 5rem;
        margin-top: 1rem;
    }
}
.trust-text {
    font-size: 1.25rem;
    color: $bg-black;
    font-weight: $bold;
    text-align: center;
    @include mq("md"){
        font-size: 2rem;
    }
}
.trust__laurel{
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    @include mq("md"){
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
    }
}
.certification_img {
    display: block;
    width: 17.5rem;
    margin: 0 auto;
    max-width: 100%;
    @include mq("md"){
        width: min(26.75rem, 50%);
        max-width: 40%;
        margin: 0.75rem 2.625rem;
    }
}
.certification_img:first-child{
    margin-bottom: 0.5rem;
}

.trust__with{
    margin-top: 2.4375rem;
    display: flex;
    justify-content: space-between;
    @include mq("md"){
        margin-top: 3.4375rem;
    }
}
.slide__block.trust-block{
    width: 10rem;
    @include mq("md"){
    width: 13rem;
    }
}
.badge_with.trust__swiper--img{
    display: block;
    width: 11rem;
    max-width: 100%;
    @include mq("md"){
        width: 15.5rem;
    }
}
.card-swiper.swiper{
    height: auto;
}